# IDE files
.idea/
.vscode/

# Environment variables
.env

# Binary files
bin/
*.exe

# Go specific
*.test
*.out
/vendor/

# Temporary files
*.tmp
*.log

# OS specific
.DS_Store
Thumbs.db


dockerfile 
docker-compose.yml
docker-compose.override.yml
docker-compose.override.yml.example
docker-compose.override.yml.example
docker-compose.override.yml.example
docker-compose.override.yml.example
docker-compose.override.yml.example

fly.toml